input {
  file {
    path => "/var/log/logtj/*/*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    tags => [ 'onec' ]
  }
}

filter {
         if "onec" in [tags] {
                 grok {
                         patterns_dir => ["/usr/share/logstash/pipeline/patterns"]
                         match => { "message" => "%{TIME:MoH}[0-9]{3}-%{DURATION:Duration_msec:int},%{TYPE:Event_type},%{NESTING:Nesting_level:int}" }
                         match => { "message" => ",process=%{PROCESS:process}" }
                         match => { "message" => "p:processName=%{PPROCESSNAME:pprocessname}" }
                         match => { "path" => ".*%{DaHFILE:DaH}\.log"}
                         break_on_match => false
                 }
                 mutate {
                         add_field => { "MyTime" => "%{DaH}%{MoH}" }
                 }
                 date {
                         match => ["MyTime", "yyMMddHHmm:ss.SSS"]
                         target => "@timestamp"
                 }
         }}

output {
  if "onec" in [tags] {
    elasticsearch {
      hosts => ["http://es:9200"]
      index => "onec-%{+YYYY.MM.dd}"
    }
    stdout {
      codec => rubydebug
    }
  }
}