input {
  file {
    path => "/var/log/logtj/*/*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    tags => [ 'onec' ]
    codec =>   multiline {
      pattern => "^[0-5][0-9]:([0-5]?[0-9]|60).[0-9]{6}"
      negate => 'true'
      what => 'previous'
    }  
  }
}

filter {

         if "onec" in [tags] {
                 grok {
                         patterns_dir => ["/usr/share/logstash/pipeline/patterns"]
                         match => { "message" => "%{TIME:TimeFromMinutes}[0-9]{3}-%{DURATION:DurationMs:int},%{TEXTONLY:event},%{NESTING:nesting_level:int}" }
                         match => { "message" => ",process=%{WORD:process}" }
                         match => { "message" => "p:processName=%{WORD:pprocessname}," }
                         match => { "message" => "t:applicationName=%{WORD:application},"}
                         match => { "message" => "t:computerName=%{WORD:computerName},"}
                         match => { "message" => "t:clientID=%{WORD:clientid},"}
                         match => { "message" => "Usr=%{USERNAME:username},"}
                         match => { "message" => "DataBase=%{USERNAME:infobase},"}
                         match => { "message" => "OSThread=%{WORD:osthread},"}
                         match => { "message" => "SessionID=%{WORD:sessionid},"}
                         match => { "message" => "Regions=%{REGION:region},"}
                         match => { "message" => "Locks=[\"\']%{INSIDEQUOTES:locks}[\"\'],"}
                         match => { "message" => "WaitConnections=%{WORD:waitconnections},"}
                         match => { "message" => "Context=[\"\']%{INSIDEQUOTES:context}[\"\']"}
                         match => { "message" => "Descr=[\"\']%{INSIDEQUOTES:description}[\"\']"}
                         match => { "message" => "Sdbl=[\"\']%{INSIDEQUOTES:sdbl}[\"\']"}
                         match => { "message" => "IName=%{WORD:iname},"}
                         match => { "message" => "Method=%{INT:method},"}
                         match => { "message" => "CallID=%{INT:callid},"}
                         match => { "message" => "MName=%{WORD:mname},"}
                         match => { "message" => "Memory=%{INT:memory:int},"}
                         match => { "message" => "MemoryPeak=%{INT:MemoryPeak:int},"}
                         match => { "message" => "InBytes=%{INT:inBytes:int},"}
                         match => { "message" => "OutBytes=%{INT:outBytes:int},"}
                         match => { "message" => "CpuTime=%{INT:cpuTime:int}"}
                         match => { "path" => ".*%{TTM:TimeToMinutes}\.log"}
                         break_on_match => false
                 }
                 mutate {
                         add_field => { "MyTime" => "%{TimeToMinutes}%{TimeFromMinutes}" }
                        remove_field => [ "TimeToMinutes", "TimeFromMinutes" ]
                 }
                 date {
                         match => ["MyTime", "yyMMddHHmm:ss.SSS"]
                         timezone => "Europe/Moscow"
                         remove_field => [ "MyTime" ] 
                         target => "@timestamp"
                 }
                 ruby {
                        code => "
                        event.set('duration_sec', if event.get('DurationMs').to_i > 0 then event.get('DurationMs').to_i / 1000000 else 0 end)
                        event.set('duration_minutes', if event.get('DurationMs').to_i > 0 then event.get('DurationMs').to_i / 60000000 else 0 end)
                        "

                        }
         }}

output {
  if "onec" in [tags] {
    elasticsearch {
      hosts => ["http://es:9200"]
      index => "onec-%{+YYYY.MM.dd}"
    }
    stdout {
      codec => rubydebug
    }
  }
}